/* --------------------------------------------------------------------------
 * jThemes Studio : Home Bakery - Modern Fashion E-Commerce Template
 *
 * file           : style-bakery.css
 * Desc           : Home Bakery Template - Stylesheet
 * Version        : 
 * Date           : 
 * Author         : jThemes Studio
 * Author URI     : 
 * Email          : 
 *
 * jThemes Studio. Copyright 2016. All Rights Reserved.
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 *  Home Bakery Template - Table of Content

  1 - General
    1.1 - Preloader
    1.2 - Global properties (body, common classes, structure etc)
    1.3 - Page section block
    1.4 - Typography (section title, links, page dividers)
    1.5 - Buttons 
    1.6 - Form / Input / Textarea  
    1.7 - Theme Colors
    1.8 - Theme Fonts
    1.9 - Rating Stars
    
  2 - Header

  3 - Home 
    3.1 - Main Slider
    3.2 - About Us 
    3.3 - Services   
    3.4 - Hot Deal  
    3.5 - Products
    3.6 - Home Blog
    3.7 - Brands
              
  4 - Footer

  5 - Popups
    5.1 - To Top
    5.2 - Product Preview 
    5.3 - Subscribe

  6 - Responsive

 * -------------------------------------------------------------------------- */



/******************************* 
    1 - GENERAL CSS STARTS 
********************************/

/*----------------1.1 Preloader Starts------------------*/
#loading{  
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;   
    top: 0px;
    background: #fff; 
}

.loader {
  margin: -5em auto;
  font-size: 10px;
  position: relative;
  top: 50%;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #232323;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*----------------1.1 Preloader Ends------------------*/

/*----------------1.2 Global properties (body, common classes, structure etc) Starts----------------------*/
body {
    font-family: 'Open Sans', sans-serif; 
    font-weight: normal;
    background: #ffffff;
    color: #666;
    height: 100%;
    position: relative;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: visible !important;  
    overflow-x: hidden;
}

.theme-container{
    padding-left: 0;
    padding-right: 0;
}
.boxed .wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-margin{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.light-bg{
    background-color: #f2f2f2;
}
.white-bg{
    background-color: #fff;
}
.black-bg{
    background-color: #000;
}
.relative-div{
    position: relative;
}
.mask-overlay,.theme-color-mask,.white-mask{    
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.mask-overlay{
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}
.white-mask{
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}
.title-wrap{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.section-title, .title-1, .title-2, .post-title, .product-title{
    color: #000;  
    text-transform: uppercase;  
    letter-spacing: 1px;
}
.section-title{ font-size: 24px; }
.title-1{ font-size: 16px; }
.title-2{ font-size: 13px; }
.post-title, .product-title{font-size: 18px;}
.white-color{
    color: #fff;
}
.white-color .section-title, .white-color p{
    color: #fff;
}
.black-color {
    color: #000000;
}
.gray-color{
    color: #999;
}
.main-color{
    color: #7e848e;
}
.block-inline{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.divider-1{
    border-color: #e7e8ec;
    border-width: 2px;
    margin: auto;
    width: 20px;
}
.list-items li{
    display: inline-block;
    margin: 0 5px;
}
.list-items{ margin-bottom: 0; margin-left: -5px;}

/*-- Arrow Animation --*/
.black-arrow,a.black-arrow{
    color: #000 !important;
}
.white-arrow, a.white-arrow{
    color: #fff !important;
}
.black-arrow i,.white-arrow i{  
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    line-height: normal;

    transition: transform 0.4s ease 0s;
    -webkit-transition: transform 0.4s ease 0s;
    -ms-transition: transform 0.4s ease 0s;    

    transform: translateX(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
}
.black-arrow:hover i, .white-arrow:hover i{
    transform: translateX(10px);
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
}

/*-- Tags --*/
.sale-tag > span, .new-tag > span {
    position: absolute;
    right: -55px;
    top: 13px;
    transform: rotate(49deg);
    -webkit-transform: rotate(49deg);
    -ms-transform: rotate(49deg);
}
.sale-tag, .new-tag{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 60px 0;   
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}
.sale-tag{
    border-color: transparent #cc0000  transparent transparent;
}
.new-tag{
    border-color: transparent #000 transparent transparent;
}
.hot-tag, .hot-tag-left, .black-tag, .black-tag-left{    
    border-radius: 2px;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    position: relative;
    z-index: 2;
}
.hot-tag, .hot-tag-left{
    background-color: #cc0000;
}
.black-tag, .black-tag-left {
    background-color: #000;
}
.hot-tag::after, .black-tag::before {
    border-bottom: 6px solid rgba(0, 0, 0, 0);   
    bottom: -6px;
    content: "";
    left: 15px;
    position: absolute;
}
.hot-tag::after, .hot-tag::before{
    border-left: 6px solid #cc0000;
}
.black-tag::after, .black-tag::before{
    border-left: 6px solid #000;
}
.bubble {
    display: table;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 6px;
    width: auto;
}
.hot-tag-left:before, .black-tag-left:before{
    border-style: solid;
    border-width: 3px 5px 3px 0;
    content: "";
    height: 0;
    left: -5px;
    position: absolute;
    top: 5px;
    width: 0;  
}
.hot-tag-left:before {
    border-color: transparent #cc0000 transparent transparent; 
}
.black-tag-left:before{
    border-color: transparent #000 transparent transparent; 
}
.hot-tag-left, .black-tag-left {
    margin-left: 8px;
}

/*-------------------1.2 Global properties (body, common classes, structure etc) Ends-----------------*/

/*-------------------1.3 Page section block Starts-------------------*/
.space-15{
    padding-bottom: 15px;
    padding-top: 15px;
}
.space-bottom-15{
    padding-bottom: 15px;
}
.space-top-15{
    padding-top: 15px;
}
.space-20{
    padding-bottom: 20px;
    padding-top: 20px;
}
.space-bottom-20{
    padding-bottom: 20px;
}
.space-top-20{
    padding-top: 20px;
}
.space-30{
    padding-bottom: 30px;
    padding-top: 30px;
}
.space-bottom-30{
    padding-bottom: 30px;
}
.space-top-30{
    padding-top: 30px;
}
.space-40{
    padding-bottom: 40px;
    padding-top: 40px;
}
.space-bottom-40{
    padding-bottom: 40px;
}
.space-top-40{
    padding-top: 40px;
}
.space-50{
    padding-bottom: 50px;
    padding-top: 50px;
}
.space-bottom-50{
    padding-bottom: 50px;
}
.space-top-50{
    padding-top: 50px;
}
.space-60 {
    padding-bottom: 60px;
    padding-top: 60px;
}
.space-bottom-60{
    padding-bottom: 60px;
}
.space-top-60{
    padding-top: 60px;
}
.space-70{
    padding-bottom: 70px;
    padding-top: 70px;
}
.space-bottom-70{
    padding-bottom: 70px;
}
.space-top-70{
    padding-top: 70px;
}
.space-80{
    padding-bottom: 80px;
    padding-top: 80px;
}
.space-bottom-80{
    padding-bottom: 80px;
}
.space-top-80{
    padding-top: 80px;
}
.space-100{
    padding-bottom: 100px;
    padding-top: 100px; 
}
.space-bottom-100{
    padding-bottom: 100px;
}
.space-top-100{
    padding-top: 100px;
}
.mb-30{
    margin-bottom: 30px;
}
/*-------------------1.3 Page section block Ends-------------------*/

/*-------------------1.4 Typography (section title, links, page dividers) Starts-------------------*/
a:hover 
a:active,
a:focus,
.btn:hover, .btn:focus,.btn:active{  
    text-decoration: none;
    outline: 0;
}
a, .btn {
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #000;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

p {
    margin-bottom: 15px;
    line-height: 1.7;
}
ul,
ol {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    padding-left: 20px;
}
h2,h3,h4,h5,h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-------------------1.4 Typography (section title, links, page dividers) Ends-------------------*/

/*-------------------1.5 Buttons Starts-------------------*/

.theme-btn-1, .theme-btn, .btn-black, .btn-white {
    display: inline-block;
    vertical-align: middle;    
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);    
    position: relative;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;

    -moz-osx-font-smoothing: grayscale;    

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
}
.theme-btn-1:before, .theme-btn:before, .btn-black:before, .btn-white:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -ms-transition-property: top, right, bottom, left;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.theme-btn-1:before{
    border: #454545 solid 4px;
}
.theme-btn:before {
    border: transparent solid 4px;
}
.btn-black:before{
    border: #000 solid 4px;
}
.btn-white:before{
    border: #fff solid 4px;
}
.theme-btn-1:hover:before, .theme-btn-1:focus:before,
.theme-btn:hover:before, .theme-btn:focus:before,
.btn-black:hover:before, .btn-black:focus:before,
.btn-white:hover:before, .btn-white:focus:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}
.theme-btn:hover:before, .theme-btn:focus:before{
    border: #999 solid 4px;  
}
.theme-btn:hover, .theme-btn:focus{
    background-color: #999;
    border-color: #999;
}
.btn-black:hover, .btn-black:focus{
    background-color: #000;
    border-color: #000;
}
.btn-white:hover, .btn-white:focus {
    background-color: #fff;
    border-color: #fff;
}
.theme-btn, .theme-btn-1, .btn-black, .btn-white {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0;
    color: #000000;
    background-color: transparent;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    min-width: 170px;
    padding: 0 10px;
    text-transform: uppercase;
    position: relative;
}
.theme-btn-1 {    
    background-color: #454545;
    border: 1px solid #454545;
    color: #ffffff;
}
.btn-black {    
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
}
.btn-white {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}
.btn-white:hover, .btn-white:focus{
    color: #000;
}
.theme-btn-1:hover, .theme-btn-1:focus, .theme-btn:hover, .theme-btn:focus, .btn-black:hover, .btn-black:focus{
    color: #fff;
}
.theme-btn i {
    margin-right: 6px;
    vertical-align: middle;
}
.btn.small-btn{
    height: 40px;
    line-height: 40px;
    min-width: 115px;
    font-size: 13px;
}
.btn.larg-btn{
    height: 60px;
    line-height: 60px;
    min-width: 200px;
}
.btn .btn-txt {
    float: left;
    width: 75%;
}
.btn .btn-icon {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    float: right;
    position: relative;
    padding-left: 8px;
    width: 20%;
}
.btn-2 {
    min-width: 225px;
}
label.btn input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    text-transform: uppercase;
}

/*-------------------1.5 Buttons Ends-------------------*/

/*-------------------1.6 Form / Input / Textarea Starts-------------------*/

.form-group {
    margin-bottom: 20px;
}
.form-control, .input-group-addon, .bootstrap-select .btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    color: #a7aaad;
    font-size: 13px;
    height: 52px;
    line-height: 50px;
    padding: 10px 20px;
}
.form-control.submit-btn{
    height: auto;
    line-height: normal;
}
.form-alert{
    margin: 0;
}
.form-wrap .form-control.submit-btn {
    border: medium none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
}

/*-- Checkbox/Radiobox Starts --*/
.form-group [type="checkbox"], .form-group [type="radio"]{
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.form-group .checkbox-inline, .form-group .radio-inline {
    margin: 0;
    padding-left: 0;
    line-height: 1.2;
    vertical-align: -moz-middle-with-baseline;
}
.form-group [type="checkbox"] + span, .form-group [type="radio"] + span {
    cursor: pointer;
    vertical-align: text-top;
}
.form-group [type="checkbox"] + span::before{   
    color: #999999;
    content: "\56";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="checkbox"]:checked + span:before {  
    content: "\5a";
    font-family: "ElegantIcons";
}
.form-group [type="radio"] + span::before{   
    color: #000;
    content: "\5b";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="radio"]:checked + span:before {  
    content: "\5c";
    font-family: "ElegantIcons";
}
/*-- Checkbox/Radiobox Ends --*/

/*--Bootstrap Select--*/
.bootstrap-select .btn .filter-option{
    color: #000000;
    line-height: 30px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    border: none;
    margin-top: 0; 
    right: 30px;
    top: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .caret:after{
    content: "\f107";
    font-family: fontawesome;
    font-size: 16px;
    color: #000;
}
.bootstrap-select .btn-default.active.focus, .bootstrap-select .btn-default.active:focus, .bootstrap-select .btn-default.active:hover, 
.bootstrap-select .btn-default.focus:active, .bootstrap-select .btn-default:active:focus, .bootstrap-select .btn-default:active:hover, 
.bootstrap-select > .dropdown-toggle.btn-default.focus, .bootstrap-select > .dropdown-toggle.btn-default:focus, 
.bootstrap-select > .dropdown-toggle.btn-default:hover {
    background-color: transparent;
    border-color: #cccccc;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 none !important;
    outline-offset: 0;
}

::-webkit-input-placeholder {
    color: #a7aaad ;
}
:-moz-placeholder {
    color: #a7aaad;
}
::-moz-placeholder {
    color: #a7aaad;
}
:-ms-input-placeholder {
    color: #a7aaad;
}

.form-control::-webkit-input-placeholder {
    color: #7e848e;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #7e848e;
    opacity: 1;
}
.form-control::-ms-input-placeholder{
    color: #7e848e;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;
    border-color: #e7e8ec;
    box-shadow: none;
    outline: 0 none;
}


input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
    outline: 0;
}
input:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
textarea:focus:-moz-placeholder {
    color: transparent !important;
}
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}


/*-------------------1.6 Form / Input / Textarea Ends-------------------*/

/*-------------------1.7 Theme Colors Starts-------------------*/
a:hover,
a:active,
a:focus {
    color: #cc9966;
}
.theme-color, .hover-color:hover, .hover-color:focus{
    color: #cc9966; 
}

.theme-color-bg, .theme-tabs ul li.current a, .items-count{
    background-color: #cc9966;
}

/*-------------------1.7 Theme Colors Ends-------------------*/


/*-------------------1.8 Theme Fonts Starts-------------------*/

.font-2, .title-2, .title-1, .post-title,.product-title, .sale-tag, .new-tag,.hot-tag, .slider-nav,
.theme-btn, .theme-btn-1, .btn-black, .btn-white, .primary-navbar li a, .form-control, .footer .widget-title{
    font-family: 'Montserrat', sans-serif;
}
.font-3, .section-title{
    font-family: 'Oswald', sans-serif;
}
.normal-font{
    font-weight: normal;
}
.bold-font, .logo-title, .sale-tag, .new-tag,
.section-title, .newsletter .form-control{
    font-weight: bold;
}
.italic-font {
    font-style: italic;
}
.extra-bold-font{
    font-weight: 800;
}
.light-font{
    font-weight: 300;
}
.upper-text{
    text-transform: uppercase;
}
.normal-text{
    text-transform: none;
}
.capital-text{
    text-transform: capitalize;
}
.size-8 { font-size: 8px; }
.size-10 { font-size: 10px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-20 { font-size: 20px; }
.size-24 { font-size: 24px; }
.size-30 { font-size: 30px; }
.size-32 { font-size: 32px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }

/*-------------------1.8 Theme Fonts Ends-------------------*/

/*-------------------------  1.9 - Rating Stars Starts --------------------- */

/*.rating .star {
    cursor: pointer;     
}*/
.rating span.star::before{
    color: #ffd33b;
    content: "\e033";
    font-family: "ElegantIcons";
}
.rating span.star.half:before{
    color: #ffd33b;
    content: "\e032";
    font-family: "ElegantIcons";
}

/*------------------------- 1.9 - Rating Stars Ends --------------------- */

/******************************* 
    1 - GENERAL CSS ENDS 
********************************/

/******************************* 
    2 - HEADER CSS STARTS 
********************************/

.boxed .header-wrap{
    max-width: 1200px;
}

/*--Header Topbar--*/
.header-topbar {
    background-color: #e9f0f0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #000;
}
.header-topbar .border{
    border-bottom: 1px solid #333333;
}
.header-topbar p {
    margin: 9px 0;
}
.blue-color{ color: #0099cc; }
.top-nav > li {
    margin: 0;
    padding: 10px 20px;
    position: relative;
    vertical-align: middle;
}
.top-nav > li:last-child{
    padding-right: 5px;
}
.top-nav > li + li::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 17px;
    width: 1px;
}
.top-nav a {
    color: #000;  
    vertical-align: middle;
}
.top-nav a i {
    font-size: 12px;
    line-height: 0;
    margin-right: 5px;
}
.top-nav > li img {
    margin-bottom: 2px;
    margin-right: 10px;
}
.top-nav form {
    display: inline-block;
}
.top-nav .bootstrap-select .btn .filter-option {
    color: #000;
    line-height: normal;
}
.top-nav btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.top-nav .dropdown-menu{
    margin: 10px 0 0;
    border-radius: 0;
    box-shadow: none;
}
.top-nav .bootstrap-select.btn-group .dropdown-menu li {
    margin: 0;
    padding: 0 5px;  
    width: 100%;
}
.top-nav .dropdown-menu > li > a{
    padding: 4px 8px;
    color: #999;
}
.top-nav .dropdown-menu > li > a:focus,.top-nav .dropdown-menu > li > a:hover{
    background: transparent;
    color: #000;
}
.top-nav .btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.top-nav .dropdown-menu > .active > a, .top-nav .dropdown-menu > .active > a:focus, .top-nav .dropdown-menu > .active > a:hover {
    background-color: transparent;
    color: #000000;
}
.top-nav .bootstrap-select .btn {
    border: none;
    height: auto;
    line-height: normal;
    padding: 0 10px 0 0;
}
.top-nav .bootstrap-select.btn-group .dropdown-toggle .caret {   
    right: 5px;
    top: 0px;
}
.top-nav .bootstrap-select.btn-group .dropdown-toggle .caret::after {
    color: #000;
}
.top-nav .bs-searchbox .form-control{
    padding: 0 5px;
    height: auto;
    line-height: 30px;
}
/*-- / Header Topbar --*/

/*--Header Main--*/
.header-wrap{     
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
    display: inline-block;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-out 0s;
    vertical-align: middle;
    width: 100%;
    z-index: 30;
}
.is-sticky .header-wrap {
    background-color: rgba(0, 0, 0, 0.9);
}
.main-header{
    display: inline-block;
    width: 100%;
    vertical-align: middle; 
    z-index: 1001;    
}
.navbar-brand,.primary-navbar > li, .top-right{
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

.primary-navbar.after-fix > li > a:after {
    top: 20px;
}
.primary-navbar.default-border > li > a:after {
    top: 90%;
}

/*Scoller*/
.mCSB_inside > .mCSB_container, .mCustomScrollBox{
    margin-right: 0;    
}


/*---Header Logo---*/
.logo-title a{
    color: #fff;    
}
.logo-title .fa {
    font-size: 24px;
    margin-right: 6px;
}
.logo-title{
    font-size: 30px;
    font-weight: normal;
    margin: 3px 0;
    text-transform: uppercase;
}
.logo-title b {
    vertical-align: middle;
}
/*--- / Header Logo---*/

/*---Header Navigation---*/
.navbar-brand{  
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
/*#primary-navigation{
    position: relative;
}
.primary-navbar{
    float: right;
}*/
.nav-left{
    position: static;
}
.navigation {
    padding: 0;
}
.primary-navbar > li.dropdown > a.dropdown-toggle::before {
    border: medium none;
    content: "\33";    
    font-family: "ElegantIcons";
    font-size: 22px;
    position: absolute;
    right: -25px;
    top: 8px;
}
.primary-navbar > li > a::after {
    background: #fff;
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 90%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    width: 100%;    
}
.primary-navbar > li:hover > a::after, .primary-navbar > li:focus > a::after, .primary-navbar > li.active > a::after{
    opacity: 1;
    transform: translateY(22px);
    -webkit-transform: translateY(22px);
}
.primary-navbar > li{
    padding-left: 15px;
    padding-right: 40px;
}
.primary-navbar > li.dropdown {
    padding-right: 45px;
}
.primary-navbar li > a{
    color: #fff;
}
.primary-navbar > li > a{
    font-size: 14px;
    padding: 10px 0px;
    position: relative;
    text-transform: uppercase;
}
.primary-navbar li > a:hover,.primary-navbar li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: transparent;   
}
.navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-toggle{
    margin-right: 0;
}
.navigation .primary-navbar li .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #ffffff;
    min-width: 210px;
    padding: 20px 25px;
    box-shadow: none;
    border-radius: 0;     
}
.navigation .dropdown-menu li a{  
    font-size: 13px;
    padding: 8px 0;
    text-transform: uppercase;
    white-space: normal;
    color: #000;
}
.navigation .dropdown-menu  li{
    position: relative;
}

/*---Header Navigation Megamenu---*/
.primary-navbar .mega-dropdown {
    position: static;
}
/*.primary-navbar .mega-dropdown-menu {
    width: 100%;
}*/
.mega-dropdown-menu .menu-block {
    padding: 0 30px;
}
.menu-block + .menu-block {
    border-left: 1px solid #cccccc;
    min-height: 285px;
}
.navigation .primary-navbar li .mega-dropdown-menu {
    padding: 35px 0;
}
.sub-list > ul {
    padding: 0;
}
.sub-list > ul li a{
    display: block;
}
.navigation .mega-dropdown-menu li a{
    color: #999;
    text-transform: capitalize;
    padding: 5px 0;
}
.navigation .mega-dropdown-menu li:last-child a{
    padding-bottom: 0;
}
.menu-block .title-2 {
    margin: 30px 0 15px;
}
.navigation .mega-dropdown-menu li a:hover{
    color: #000;
}

/*---Header Navigation Rightside---*/
.hide{
    display: none;
}
.top-right ul{
    margin: 0;
}
.top-elements > li {  
    display: inline-block;
    margin-right: 23px;   
}
.top-elements > li:first-child{
    padding-left: 0;
}
.top-elements > li > a{
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 25px;
    vertical-align: middle;
    position: relative;
}
.items-count {   
    border-radius: 1em;
    bottom: 0;
    color: #ffffff;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    width: 20px;
}
.icon-cube {
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    overflow: visible;
}
.icon-cube::before,
.icon-cube::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.active .icon-cube::before {
    z-index: 2;  
}
.active .icon-cube::after {
    z-index: 1;
    opacity: 0;

    -ms-transform: translateY(48px) rotateX(-90deg);
    -webkit-transform: translateY(48px) rotateX(-90deg);
    transform: translateY(48px) rotateX(-90deg);
}
.active .icon-cube::before {
    opacity: 0;
    -ms-transform: translateY(-48px) rotateX(90deg);
    -webkit-transform: translateY(-48px) rotateX(90deg);
    transform: translateY(-48px) rotateX(90deg);   
}
.active .icon-cube::after {
    opacity: 1;
    -ms-transform: rotateX(0);
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    content: "\f2d7";
    font-family: "Ionicons";
}
.search-icon::after {
    z-index: 1;
    opacity: 1;
    -ms-transform: translateY(48px) rotateX(-90deg);
    -webkit-transform: translateY(48px) rotateX(-90deg);
    transform: translateY(48px) rotateX(-90deg);
}
.search-icon::before {    
    content: "\f2f5";
    font-family: "Ionicons";

    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    -ms-transform: translateY(0px) rotateX(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg);
    transform: translateY(0px) rotateX(0deg);  
}
.toggle-icon::after {
    z-index: 1;
    opacity: 1;

    -ms-transform: translateY(48px) rotateX(-90deg);
    -webkit-transform: translateY(48px) rotateX(-90deg);
    transform: translateY(48px) rotateX(-90deg);
}
.toggle-icon::before {    
    content: "\f394";
    font-family: "Ionicons";

    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    -ms-transform: translateY(0px) rotateX(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg);
    transform: translateY(0px) rotateX(0deg);  
}
.cart-icon::after {    
    content: "\f110";
    font-family: "Ionicons";
}


/* popup box */
.top-bar {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.top-right {
    position: static;
}
.active .pop-up-box{
    opacity: 1;
    visibility: visible;
    display: block;

    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
}

.pop-up-box{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: inline-block;
    height: auto;
    padding: 10px 20px;
    position: absolute;
    right: 1px;
    text-align: left;
    top: 100%;
    z-index: 1001;
    width: 290px;
    opacity: 0;
    visibility: hidden;

    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);

    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;

    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
}
.pop-up-box > li {
    border-bottom: 1px solid #cccccc;
    display: table;
    margin-bottom: 15px;
    padding-bottom: 22px;
    width: 100%;
}
.pop-up-box li:last-child{
    border: none;
    padding-bottom: 0;
}

/*toggle-popup*/
.country-flag > a, .country-currency a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.country-flag > a {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1px;
}
.country-flag > a:hover, .country-flag > a.active{
    border-color: #000;
}
.additional-page > a {
    color: #999999;
    display: block;
    padding: 5px 0;
    font-size: 13px;
}
.additional-page span {
    font-size: 18px;
    line-height: 0;
    margin-right: 5px;
    vertical-align: middle;
}
.additional-page > a:hover, .additional-page > a:focus{
    color: #000;
}

/*cart-popup*/
.pop-up-box.cart-popup {
    padding-top: 13px;
}
.cart-list > div {
    display: table-cell;   
    vertical-align: top;
}
.cart-img {
    padding-top: 8px;
}
.cart-title {
    padding: 0 10px;
}
.cart-title a {
    display: inline-block;
    padding-bottom: 5px;
}
.cart-list .del-item {
    cursor: pointer;
}
.cart-list .del-item:hover {
    color: #999999;
}
.sub-total{
    padding-top: 8px;
}
.sub-total > div{
    vertical-align: middle;
}
.cart-list.buttons div {
    padding: 20px 0 10px;
}
.caption-text span{
    margin-right: 5px;
}

/*Search Popup*/
.pop-up-box.search-popup {
    padding: 0;
    right: 50px;
    width: 600px;
}
.search-popup .form-group{
    margin: 0;
}
.search-popup .form-group .form-control, .search-popup .bootstrap-select .dropdown-toggle{
    border: none;
}
.search-popup .search-selectpicker {
    border-right: 1px solid #cccccc;
}
.form-wrap .form-control.submit-btn {
    border: medium none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
}
/*-- / Header Main--*/

/******************************* 
    2 - HEADER CSS ENDS 
********************************/

/******************************* 
    3 - HOME CSS STARTS 
********************************/

/*-------------------Main Slider Starts-------------------*/
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide{
        width: auto;    
        height: auto;
    }

    .tp-loader { visibility:hidden;}

/*-------------------Slider Ends-------------------*/


/*--------------------- Services Starts------------------------- */
.service-img img {
    border-radius: 50%;
}
/*--------------------- Services Ends------------------------- */

/*------------------- About Us Starts-------------------*/
#about-us{
    display: flex;
}
.about-wrap {
    display: inline-block;
    width: 72%;
}
.video-wrap {
    background-image: url("../img/bakery/banner/video-img.jpg");
    background-position: center center;
}
.video-wrap iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
}
.video-link {
    background: #1e1e1e none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    border: none;
    display: inline-block;
    font-size: 58px;
    height: 85px;
    text-align: center;
    vertical-align: middle;
    width: 85px;
}
.video-wrap .video-link {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
/*--------------------- About Us Ends------------------------- */

/*-------------------Product Starts-------------------*/

.theme-tabs > li {
    display: inline-block;
    vertical-align: middle;
}
.theme-tabs > li + li {
    border-left: 2px solid #000000;
    margin-left: -4px;
    vertical-align: middle;
}
.theme-tabs > li a {
    line-height: 15px;
    padding: 0 35px;
    text-transform: uppercase;
}
.theme-tabs > li a:hover, .theme-tabs > li a:focus, .theme-tabs > li.active a{
    background: transparent;
    color: #999;
}
.thumbnail-wrap{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.thumbnail-wrap .thumbnail{
    border: none;
    padding: 0;   
}
.thumbnail .caption{
    padding: 10px 0;
}
.thumbnail-conten{
    text-align: right;
}
.thumbnail-conten li{
    margin: 0;
}
.thumbnail-conten li:first-child{ float: left; }
.thumbnail-conten li a {
    color: #ffffff;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.thumbnail-conten li a:hover,.thumbnail-conten li a:focus{
    background-color: #333333;
}
.thumbnail-conten li span{
    font-size: 12px;
    vertical-align: middle;    
}
.thumbnail-conten li i {
    vertical-align: middle;
}

.thumbnail-wrap:hover .back {   
    opacity: 1;
    backface-visibility: visible;

    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}
.thumbnail-wrap:hover .front {    
    opacity: 0;
    backface-visibility: hidden;

    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.flipper .front, .flipper .back { 
    transition: 0.6s;
    transform-style: preserve-3d;
}
.flipper .front {    
    backface-visibility: visible;

    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}
.flipper .back {
    backface-visibility: hidden;
    height: auto;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;   
    width: 100%;

    transform: rotateY(160deg);
    -webkit-transform: rotateY(160deg);
    -ms-transform: rotateY(160deg);
}
.thumbnail-img{
    position: relative;
}
.thumbnail-wrap .thumbnail-img{
    overflow: hidden;
}
.owl-carousel .owl-item img{
    width: auto !important;
    margin: auto;
}
.thumbnail-wrap .thumbnail-conten {
    backface-visibility: hidden;
    bottom: 0;
    height: auto;
    position: absolute;
    opacity: 0;
    top: auto;   
    width: 100%;

    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);

    transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    -ms-transition: -ms-transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
}
.thumbnail-wrap:hover .thumbnail-conten{
    opacity: 1;

    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);

    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
    -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.1s ease 0s;
    -ms-transition: -ms-transform 0.4s ease 0s, opacity 0.1s ease 0s;
}
.thumbnail-wrap:hover .title-2{
    color: #999;
}

/*Slider Navigation*/
.slider-nav:hover {
    color: #999999;
}
.slider-nav {
    color: #000000;
    display: inline-block;
    font-size: 18px;    
    letter-spacing: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 25%;  
    cursor: pointer;
    width:20px;
    word-wrap: break-word;
    z-index: 2;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}
.slider-nav.swiper-prev{
    left: -5%;
}
.slider-nav.swiper-next{
    right: -5%;
}

/*-------------------Product Ends-------------------*/


/*------------------- Blog Starts-------------------*/
#home-blog {
    border-top: 1px solid #cccccc;
}
.blog-wrap{
    position: relative;
}

.blog-detail {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.blog-detail a {
    color: #ffffff;
}
.blog-detail li{
    text-transform: capitalize;
    margin-top: 5px;
}
.blog-detail li span{
    color: #ccc;
}
.blog-detail li + li {
    border-left: 1px solid #cccccc;
    line-height: 1;
    padding-left: 9px;
}
/*------------------- Blog Ends-------------------*/


/******************************* 
        3 - HOME CSS ENDS 
********************************/


/******************************* 
    4 - FOOTER STARTS 
********************************/
.footer{
    background-image: url(../img/bakery/slider/footer-bg.jpg);
    position: relative;
}
.footer-bg .logo-title{
    margin: 35px 0;
    font-size: 24px;
}
.copy-rights{  
    margin: 0;   
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    position: relative;
}
/*Widget*/
.footer-widget{
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ccc;
}
.footer-widget .widget-title{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: 37px 0;
}
.footer-widget .logo-title,.footer .text-widget {
    text-align: center;
}
.footer-widget ul li, .get-touch p {   
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;  
}
.footer-widget .twitter-widget li p{
    margin: 0;
}
.twitter-widget .twit-time{
    font-size: 13px;
    padding: 10px 0 20px;
    text-transform: uppercase;
}
.twitter-widget .twit-time span{
    font-size: 10px;
    margin-right: 10px;
}
.footer-widget ul {
    margin: 0;
}
.footer-widget ul li a{
    color: #fff; 
    display: inline-block;  
}
.footer-widget .social-icon {
    padding-top: 30px;
}
.footer-widget ul.social-icon li{
    width: auto;
    padding: 5px 10px 5px 0;
}
.get-touch p a{
    color: #fff;
    display: inline-block;
}
/******************************* 
    4 - FOOTER ENDS 
********************************/

/******************************* 
  5 - POPUPS STARTS 
********************************/

/*---------------- 5.1 -  Back To Top Starts -------------------------- */
.to-top { 
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
    background-color: #000000;
    border: 1px solid #999999;
    border-radius: 0;
    bottom: -150px;
    color: #ffffff;
    cursor: pointer;    
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    right: 3%;
    text-align: center;
    width: 30px;
    z-index: 999;
}
.to-top:hover {
    opacity: 0.5;
}
/*---------------- 5.1 -  Back To Top Ends ------------------------ */

/*---------------- 5.2 - Product Preview Popup Starts ------------------------ */
.slider-img {padding-right: 20px;}
.modal-content{
    border-radius: 0;
    display: inline-block;
    width: 100%;
    padding: 30px 15px;
}
.sb-close-btn {
    background: #333333 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    float: none;
    font-size: 24px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    position: absolute;
    right: 30px;
    text-align: center;
    text-shadow: unset;
    width: 40px;
    z-index: 1;
}
.sb-close-btn:hover {
    background: #999 none repeat scroll 0 0;
    color: #ffffff;
    opacity: 1;
}
.slider-pagination li {    
    margin-bottom: 19px;    
}
.slider-pagination li.active img, .slider-pagination li img:hover{
    border-color: #000;   
}
.slider-pagination li img{
    border: 1px solid transparent;
    display: block; margin: auto;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.slider-pagination li:last-child{margin-bottom: 0;}
.product-content{
    display: inline-block; width: 100%; vertical-align: middle; position: relative;
}
.prod-lr-btn{ position: absolute; right: 0; }
.prod-lr-btn a {
    background-color: #ececec;
    color: #999999;
    display: inline-block;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
}
.prod-lr-btn a:hover {
    background-color: #000000;
    color: #ffffff;
}
.product-heading .product-title{ margin-top: 0; }
.product-review {
    display: inline-block;
    margin-left: 10px;
}
.product-fullwidth .item > img {
    margin: auto;
}
.product-review li , .stock-detail li { line-height: 1; }
.product-review li + li, .stock-detail li + li { border-left: 1px solid #999; padding-left: 10px; }
.stock-detail li + li{   margin-left: 17px; padding-left: 30px; }
.stock-detail i {
    font-size: 16px;
    margin-right: 5px;
}
.product-review a {
    padding-left: 5px;
}
.product-description p{
    margin-bottom: 0;
}
.product-form label {
    color: #000000;
    display: inline-block;
    font-weight: normal;
    width: 100%;
    margin-bottom: 17px;
}
.product-form label .font-2{ text-transform: uppercase; }
.product-form .bootstrap-select .btn .filter-option {
    color: #999999;
    font-style: italic;
}
.product-form .bootstrap-select .btn{
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
}
.add-to-cart .cart-btn{
    min-width: 200px;
}
.add-to-cart .cart-btn i {
    line-height: 0;
    margin-right: 7px;
    vertical-align: middle;
}
.prod-btns .form-control.qty {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 170px;
    line-height: normal;
}
.prod-btns .quantity .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    font-size: 22px;
}
.prod-btns .quantity .minus {
    left: 10px;
}
.prod-btns .quantity .plus{
    right: 10px;
}
.prod-btns .quantity {
    position: relative;
    margin-right: 25px;
}
.prod-btns > div{ display: inline-block; vertical-align: middle; }
.quantity input[type=number]::-webkit-outer-spin-button,
.quantity input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity input[type=number] {
    -moz-appearance:textfield;
    -ms-appearance:textfield;
    -webkit-appearance: textfield;
    appearance:textfield;
}
.prod-social ul {
    display: inline-block;
    vertical-align: middle;
}
.prod-social li a {
    color: #cccccc;
    font-size: 16px;
}
.prod-social li a:hover { color: #000; }
.prod-tabs {
    border-bottom: 1px solid #cccccc;   
}
.prod-tabs li{
    display: inline-block;
    font-weight: bold;
}
.prod-tabs li a{ color: #ccc; padding: 15px; position: relative; }
.prod-tabs li a:hover, .prod-tabs li a:focus, .prod-tabs li.active a{
    background-color: transparent;
    color: #333;
}
.prod-tabs li a::after {
    background: #000;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 90%; 
    width: 100%; 

    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);

    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -ms-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.prod-tabs li a:hover::after, .prod-tabs li a:focus::after, .prod-tabs li.active a::after{
    opacity: 1;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
}
.prod-tab-content p{
    margin-bottom: 5px;
}
.prod-tab-content ul { margin-bottom: 0; }
.prod-tab-content li {
    display: inline-block;
    font-size: 13px;
    padding: 3px 0;
    vertical-align: middle;
    width: 100%;
}
.prod-tab-content li i {
    font-size: 14px;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
    width: 4%;
}
.prod-tab-content li .des {
    float: left;  
    width: 95%;
}
.prod-slider-2 .slider-img{ padding-left: 0; }
.content-style-2 .prod-tabs li + li{ 
    margin-left: 20px;
}
.content-style-2 .prod-tabs li + li a::after, .content-style-2 .prod-tabs li + li a:after{
    left: 13px;
}
.content-style-2 .prod-tabs li + li a::before, .content-style-2 .prod-tabs li + li a:before  {    
    content: " ";
    border-left: 1px solid #cccccc;    
    padding-left: 20px;
}
.content-style-2 .prod-tabs li a {
    padding: 10px 0;
}

/*---------------- 5.2 - Product Preview Popup Ends ------------------------ */

/*---------------- 5.3 - Subscribe Popup Starts ------------------------ */
.subscribe-me{
    background-color: #e9e9e9;
    height: auto;
    left: 0;
    margin: auto;
    padding: 12px;
    right: 0;    
    top: 20%;
    width: 830px;
    background-image: url(../img/sunglasses/popup/newsletter.png);
    background-repeat: no-repeat;
    background-position: 85% bottom;
}
.subscribe-me p {
    font-size: 13px;
    margin: auto auto 15px;
    width: 80%;
}
.popup-newsletter {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 100%;    
}
.subscribe-wrap {
    padding: 0 42px;
}
.subscribe-me .form-control.text {
    border: 1px solid #cccccc;
    font-size: 13px;
    height: 37px;
    line-height: 37px;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 100%;
}
.subscribe-me .sb-close-btn {
    font-size: 22px;
    background-color: #999999;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 13px;
    text-align: center;
    top: 13px;
    width: 40px;
    z-index: 1;
}
.subscribe-me .sb-close-btn:hover {
    background-color: #000;
}

/*---------------- 5.3 - Subscribe Popup Ends------------------------ */

/******************************* 
  5 - POPUPS STARTS 
********************************/


/******************************* 
  6 - RESPONSIVE STARTS 
********************************/

@media (min-width: 1500px) {

}
@media (max-width:1200px) {
    .theme-container{
        padding-left: 15px;
        padding-right: 15px;
    }  
}
@media (min-width:1200px) {
    /*-- Product Preview Popup --*/    
    .product-modal{
        width: 1090px;
    }  
    /*-- / Product Preview Popup --*/  
}
@media (max-width:1024px) and (min-width:768px) {

    .about-bakery{
        height: 545px !important;  
    }
}

@media (min-width:992px)and (max-width:1199px) { 
    /*Header*/
    .top-right{
        margin-left: -10px;   
    }
    .top-elements > li{
        margin: 0;
        padding-right: 12px;
    }
    /*home*/
    .video-wrap{
        height: 545px;  
    }

    /* Product Slider */
    .slider-nav.swiper-next {
        right: -3%;
    }
    .slider-nav.swiper-prev {
        left: -3%;
    }


    /*-- Product Preview Popup --*/    
    .prod-btns .quantity{
        margin-bottom: 25px;
    }
    .product-review{
        margin: 0;
    }
    /*-- / Product Preview Popup --*/    

}
@media (min-width:768px) {
    /*-- Header --*/
    .navigation .primary-navbar li .dropdown-menu {
        opacity: 0;    
        visibility: hidden;
        display: block;

        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);

        transition: transform 0.3s ease 0s;
        -webkit-transition: -webkit-transform 0.3s ease 0s;
        -ms-transition: -ms-transform 0.3s ease 0s;

        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
    }
    .navigation .primary-navbar > li:hover > .dropdown-menu{
        opacity: 1;    
        visibility: visible;

        transform: translateY(0px);   
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
    .navigation .dropdown-menu  li:hover > .dropdown-menu{
        opacity: 1;        
        visibility: visible;

        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }
    .navigation .dropdown-menu li .dropdown-menu{
        left: 100%;
        right: auto;
        top: 0;  
        margin-left: 25px;

        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
    }
    .header-wrap .logo{
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        display: table;
        max-width: 200px;
    }



}
@media (max-width:991px){  
    .primary-navbar .mega-dropdown-menu {
        width: 100%;
    }
    .blog-wrap img{
        width: 100%;
    }
    /*-- Subscribe Popup --*/
    .subscribe-me{
        width: auto;
        margin: auto 25px;
        top: 10%;
    }
}
@media (min-width:992px){
    .primary-navbar .mega-dropdown-menu {
        width: 80%;
    }
}
@media (min-width:768px)and (max-width:991px){

    /*header*/
    .header-wrap .logo {
        right: auto;
        left: 15px;
        margin-top: 20px;
    }
    .primary-navbar {
        float: none !important;   
        display: inline-block ;
    }
    .primary-navbar > li:hover > a::after, .primary-navbar > li:focus > a::after, .primary-navbar > li.active > a::after {        
        transform: translateY(5px);
    }
    .top-elements > li > a{
        margin-bottom: 5px;
    }
    .primary-navbar > li {
        display: inline-block;
        float: none;
        padding: 5px 15px;
    }    
    .primary-navbar > li.dropdown {
        padding-right: 30px;
    }
    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
    }
    .navigation .dropdown-menu li .dropdown-menu {
        left: 100%;
        margin-left: 25px;
        margin-right: 0;
        right: auto;
    }
    .top-right {
        position: absolute;
        right: 0;
        padding-right: 0;
    }
    .bubble{
        top: -15px;
    }
    .top-nav > li{
        padding: 10px 15px;
    }   
    .navbar-brand, .top-right {
        padding-bottom: 0;
        padding-top: 0;
    }
    .top-bar {
        padding: 15px 0 0;
    }

    .header-wrap .navigation {
        margin-top: 35px;
        text-align: center;
    }
    .pop-up-box{
        top: 45px;
    }

    /*home*/
    .video-wrap{
        height: 545px;  
    }

    /* Product Slider */
    .slider-nav.swiper-next {
        right: -1%;
    }
    .slider-nav.swiper-prev {
        left: -1%;
    }

}
@media (max-width:767px) {
    /*-- Header Offcanvas --*/
    .nav-trigger{
        float: right;
    }
    .nav-trigger .toggle-icon {
        background: #ececec none repeat scroll 0 0;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        height: 50px;
        line-height: 48px;
        margin: 5px 0;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        z-index: 1;
    }
    .header-wrap .navigation  {     
        background: #ffffff none repeat scroll 0 0;  
        display: inline-block;
        left: 0;
        padding: 15px 0;
        position: absolute;
        top: 0;  
        left: 0;
        vertical-align: middle;
        width: 250px;
        max-height: 350px;
        overflow: auto;
        z-index: 1001;
        margin-left: 0;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;

        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);

        transition: all 0.4s ease-out 0s;
        -webkit-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
    }
    .navigation.off-canvas{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }
    .navigation .primary-navbar li.open .dropdown-menu{
        display: block;
        border: none;
        padding: 0;
    }
    .navigation .primary-navbar li.open .dropdown-menu .dropdown-menu{
        padding: 0 0 0 15px;
    }
    .primary-navbar {
        float: none !important;
        margin: 0;
    }
    .primary-navbar > li > a {
        padding: 10px 20px;
        color: #000;
    }
    .primary-navbar > li{
        padding: 0;
    }
    .primary-navbar > li.dropdown > a.dropdown-toggle::before{
        right: 15px;
    }
    .primary-navbar > li > a::after, .primary-navbar > li:hover > a::after, .primary-navbar > li:focus > a::after, .primary-navbar > li.active > a::after{
        background: transparent;
    }
    .menu-block + .menu-block {
        border: medium none;
        margin-top: 30px;
        min-height: auto;
    }


    /*--Header --*/
    .navbar-brand {
        float: none;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .navbar-brand .logo-title{
        float: none;
        margin: 10px 0 0 0;
    }
    .top-right{
        padding: 0 15px 15px 0;    
        display: inline-block;
        width: 100%;
    }
    .header-wrap {
        position: static;
        background-color: #000;
    }
    .logo-title a, .top-elements > li > a {
        color: #fff;
    }
    .pop-up-box.search-popup{
        right: 1px;
        width: 95%;
    }
    /*header-top*/
    .footer {
        text-align: center;
    }


    /*common css*/
    .space-100 {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .space-bottom-100{
        padding-bottom: 70px;
    }
    .space-top-100{
        padding-top: 70px;
    }
    .space-bottom-80{
        padding-bottom: 50px;
    }

    /*home*/
    .video-wrap{
        height: 350px;
    }

    #about-us {
        display: block;
    }

    /* Product Slider */
    .slider-nav.swiper-next {
        right: 0%;
    }
    .slider-nav.swiper-prev {
        left: 0%;
    }

    /*-- Product Preview Popup --*/
    .slider-img{ padding: 0 ;}
    .product-thumbnails{
        text-align: center;
        margin-bottom: 0;
    }
    .product-thumbnails li:last-child{
        margin-right: 0;
    }
    .product-thumbnails li {
        display: inline-block;
        margin: 30px 15px 0 0;
        vertical-align: middle;
        width: 19%;
    }

    .subscribe-me{
        background-image: inherit;
    }
    .subscribe-me p{
        color: #000;
    }

    /*--Product--*/
    .theme-tabs > li a {       
        padding: 0 20px;
    }   
    /*-- / Product--*/


}
@media (min-width:481px) and (max-width:767px){

    /* Main Slider */
    .tp-banner .tp-caption.sm-txt, .tp-banner .tp-caption.pera{
        font-size: 12px !important;        
    }
    .tp-banner .tp-caption.pera{
        line-height: 1.2 !important;      
    }

    /*--Product--*/
    .thumbnail-conten li a{
        padding: 0 17px;
    }    
    /*-- / Product--*/

}
@media (max-width:480px){  

    /* Main Slider */
    .tp-banner .tp-caption.sm-txt, .tp-banner .tp-caption.pera {
        font-size: 10px !important;        
    }
    .tp-banner .tp-caption.pera,  .tp-banner .tp-caption.slide-logo {
        display: none;
    }
    .tp-banner .slide-btn .btn{
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        min-width: 100px;
    }


    /*-- Product --*/   
    .thumbnail-wrap .thumbnail{
        display: table;
        margin: auto auto 20px;
    }
    /*-- / Product--*/

    /*-- Subscribe Popup --*/
    .subscribe-wrap{
        padding: 0;
    }
    .subscribe-me p{ width: 90%; }

}
@media (max-width:479px){  

    /*-- Product --*/
    .theme-tabs > li {
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        margin: 8px 0;
        vertical-align: middle;
        width: 200px;
    }
    /*-- / Product--*/

    /*-- Product Preview Popup --*/
    .prod-btns .quantity{
        margin-bottom: 25px;
    }

}
@media (max-width:380px){     
    /*-- Product Preview Popup --*/
    .modal-content {
        padding: 30px 0;
    }
    .sb-close-btn{
        right: 15px;
    }
    .product-review{
        margin: 10px 0;   
    }
    .content-style-2 .prod-tabs li + li a::after{
        left: 0;
    }
    .content-style-2 .prod-tabs li + li a::before {
        border-left: none;
        padding-left: 0;
    }
    .prod-tabs{
        text-align: center;
    }
    .content-style-2 .prod-tabs li + li{
        margin-left: auto;
    }
    .prod-tabs li{
        width: 150px;
        display: block;
        margin: auto;
    }
    .prod-tab-content li i {
        width: 5%;  
    }
}